// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #0000ff;
$purple: #6a5acd;
$baby-blue: #add8e6;
$grey-blue: #e6e6fa;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$light-purple: #E6E6FA;
