// Specific CSS for your home-page

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}

h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
  margin: 10px;
}

.title {
  font-size: 500%;
  text-decoration: overline wavy #999afc;
}

p {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  padding: 50px 50px 75px 100px;
}

.btn-primary {
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  background: #999afc;
  transition: background 0.3s ease;
  text-decoration: none;
  margin-bottom: 2px;
  border: none;
}

.btn-primary:hover {
  background: purple;
  text-decoration: none;
  color: white;
  transition: background 0.5s ease;
}

.home-button {
  width: 100px;
}

.calendar {
  font-weight: bold;
  font-size: 20px;
  max-width: 350px;
  margin-left: 140px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #999afc;
  color: white;
  padding: 25px 35px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 20px;
  transition: background 0.3s ease;
  text-decoration: none;
  border: none;
  margin-left: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-i {
  position: relative;
  display: inline-block;
}

.dropdown-l {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-i:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-i:hover .dropbtn {background-color: purple;}

/* Show the dropdown menu on hover */
.dropdown-l:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-l:hover .dropbtn {background-color: purple;}

