.dashboard-main-header {
  padding-top: 20px;
  text-align: center;
}

.dashboard.container {
  background-color: $grey-blue;
  width: auto;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
}

.btn-myroom {
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  background: $purple;
  transition: background 0.3s ease;
  text-decoration: none;
  margin-bottom: 10px;
  border: none;
  width: 250px;
  margin-top: 10px;

}

.btn-myroom:hover {
  background: $yellow;
  text-decoration: none;

  transition: background 0.5s ease;

}

.myrooms {
  .dashboard-main-header {
    h1 {
      margin-top: 30px;
      color: white;
      text-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }
    h3 {
      margin-top: 30px;
      margin-bottom: 30px;
      color: white;
      text-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }

  }
}
#myrooms-center {
  margin-top: 180px;
}

#myrooms-banner {
  height: 100vh;

}
