
.profile {
  line-height: 0px;

  .fas{
    color: #767bf7;
  }

}

.card-profile {
  padding: 60px ;
  padding-left: -10px;
  padding-right: -10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-left: -600px
}
