<%= simple_form_for([@room, @booking]) do |f| %>
  <div class="row"> <div class="col-xs-6">
    <%= f.input :start_time, placeholder: "Start time", as: :string, required: false, label: false, input_html: {class: "datepicker"} %>
  </div> <div class="col-xs-6">
    <%= f.input :end_time, placeholder: "End time", as: :string, required: false, label: false, input_html: {class: "datepicker"} %>
   </div></div>
  <%= f.button :submit, 'Send a booking request now!', class: "btn-signup" %>
<% end %>
