<div class="banner-login" style="background-image: linear-gradient(336deg, rgba(32,70,245,.8), rgba(32,70,245,0) 70.71%), url('https://images.unsplash.com/photo-1453906971074-ce568cccbc63?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7cfd5b121272847aafdc314d00ff34d5&auto=format&fit=crop&w=1950&q=80');">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="card-login edit-room">
      <h1 class="log-title"><%= @room.location %> room </h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
