.card {
  background-position: center;
  color: rgba(0,0,0,0.8);
  background-color: white;
  border-radius: 4px;

  margin: 20px 0;
  max-height: 600px;
  transition: opacity 0.3s ease;
  opacity: 1;
  &.hovered {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    // background-color: rgba(45, 225, 207, 0.9);
    // opacity: 0.9;
  }
  &:hover {
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);
    // background-color: rgba(45, 225, 207, 0.9);
    // opacity: 0.9;
  }
  .picture {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    .status-box {
      background-color: white;
      min-width: 50px;
      padding: 10px;
      border-radius: 4px 4px 0 0;
      opacity: 0.8;
      margin-left: 0;
      display: flex !important;
      justify-content: space-between !important;
      h4 {
        font-size: 18px;
        margin: 0;
        color: rgba(0,0,0,0.8) !important;
      }
      p {
        margin: 0;
      }
    }

  }
  .card-description {
    padding: 20px 20px 20px 20px;
    h3 {
      margin-left: 0;
      color: rgba(0,0,0,0.8) !important;
    }
    p {
      margin-bottom: 5px;
      color: rgba(0,0,0,0.8) !important;
    }
  }
}
.card-description h3 {
  font-size: 24px;
  text-shadow: none;
  text-decoration: overline wavy $blue;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.btn.btn-card {
  background-color: white;
  text-shadow: none;
  font-size: 15px;
  padding-right: 15px;
  color: $blue;
  opacity: 0.7;
  font-weight: bold;
  text-align: left;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}
