.card {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  color: rgba(0,0,0,0.8);
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin: 20px 0;
  max-height: 600px;
  .picture {
    height: 250px;
    background-size: cover;
  }
  .card-description {
    padding: 10px 10px 0 20px;
    h3 {
      margin-left: 0;
    }
    p {
      margin-bottom: 5px;
    }
  }
  .card-links {
    padding: 0 0 10px 6px;
  }
}
.card-description h3 {
  font-size: 24px;
  text-shadow: none;
  text-decoration: overline wavy $blue;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.btn.btn-card {
  background-color: white;
  text-shadow: none;
  font-size: 15px;
  padding-right: 15px;
  color: $baby-blue;
  font-weight: bold;
  text-align: left;
  transition: background 0.3s ease;
  &:hover {
    color: $blue;
  }
}
